include LICENSE
include default_config.py
include tests/testing_config.py
include tests/testing_utils.py
include tests/conftest.py

recursive-include garage_system/templates *
recursive-include garage_system/static *
