<h1>Garáž {{ garage.id }}</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="POST" action="/garage/{{ garage.id }}">
    {{ form.csrf_token }}
    {{ form.tag.label }} {{ form.tag(value=garage.tag) }}
    <br>
    {{ form.period.label }} {{ form.period(value=garage.period) }}
    <br>
    <input type="submit" value="Potvrdit">
</form>
<br>
API klíč: {{ garage.api_key }}
<br>
Poslední hlášení {{ garage.last_report }}
<br>

<a href='/'>Zpět</a>