<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

<body>

<h1>Správa garáží</h1>

{% from "_utils.html" import render_form, render_flash %}


<h2>{{ garage.tag }}</h2>

{{ render_flash() }}

<div class=garage_container>

    <div class=garage_data_box>
        <h3>Data</h3>
        <br>
        ID: {{ garage.id }}
        <br>
        API klíč: {{ garage.api_key }}
        <br>
        Poslední hlášení: {{ garage.last_report | date_filter}}
        <br>
    </div>

    <div class=garage_edit_box>
        <h3>Nastavení garáže</h3>
        <form class=basic_form method="POST" action="/garage/{{ garage.id }}">
            {{ render_form(form)}}
        </form>
        <br>
        <div class=tooltip>
            <a href="/revoke_key/{{ garage.id }}">Zneplatnit API klíč</a>
            <span class=tooltiptext>
            <p>
            Po zneplatnění klíče nebude moci příslušný podřízený systém odesílat nové události.
            </p>
            <p>
            Pro obnovení přistupu je nutné nahrát na systém nový klíč, případně vytvořit novou garaž pomocí registračního módu.
            </p>
            </span>
        </div>
    </div>
</div>

{{ garage.events }}

<a href='/'>Zpět</a>

</body>