
html * {font-family: helvetica}

body { margin: 0px; padding: 0px;}
h2 {color: #fff;}
h1, h2 {text-align: center; font-family: helvetica}

.flashes, .garages_list, .menu_list, .form_fields {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.flash_message  {
    text-align: center;
    color: #000;
    background: #1DE9B6; 
    padding: 5px;
}

.flash_error { 
    background: #f0d6d6; 
    padding: 5px;
}

.flash_warning {
    background: #f9b194;
    padding: 0.5em;
}

.login_box {
    margin: 20px auto;
    width: 300px;
    background-color: #455A64;
    color: #fff;
    padding: 0 15px 15px 15px;
    text-align: center;
}

.login_button {
    width: 300px;
}

#password {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background-color: #CFD8DC;
}

.menu_box {
    background-color: #455A64;
    text-align: center;
    height: 1080px;
}

.menu_item {
    color: #fff;
    font-family: helvetica;
    font-size: 16pt;
}

.menu_button, .login_button {
    color: #fff;
    font-family: helvetica;
    background-color: #546E7A;
    text-decoration: none;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 15pt;
    margin: 0px;
}

.menu_button {
    width: 200px;
}

.menu_button:hover, .login_button:hover {
    background-color: #607D8B;
}

.main_container {
    display: grid;
    grid-template-columns: 200px auto;
}

.garages_table{
    font-size: 15pt;
    padding: 10px;
    width: 100%;
}

.garages_table th {
    color: #fff;
    background-color: #546E7A;
    padding: 10px;
}

.garages_table td {
    color: #000;
    background-color: #CFD8DC;
    text-align: center;
}

.garage_container {
    display: grid;
    padding: 20px;
    padding-top: 30px;
    grid-template-columns: auto auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 60%;
    width: 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}