body            { font-family: sans-serif; background: #eee; text-align: center}
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.flashes, .garage_list, .menu_list {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.garages {

}

.flash_message  { 
    background: #cee5F5; 
    padding: 0.5em;
}

.flash_error { 
    background: #f0d6d6; 
    padding: 0.5em;
}

.form_field {
    padding: 5px;
}

.login_box{
    margin: 20px auto;
    width: 300px;
    background-color: #ccc;
    padding: 20px;
}

.menu_box {
    background-color: #ccc;
    padding: 10px;
}

.main_container {
    display: grid;
    padding: 20px;
    padding-top: 30px;
    grid-template-columns: 180px auto;
}

.garage_data_box, .garage_edit_box, .garages_box {
    padding: 10px;
    padding-left: 50px;
    text-align: left;
}

.garage_container {
    display: grid;
    padding: 20px;
    padding-top: 30px;
    grid-template-columns: auto auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 60%;
    width: 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}