<!DOCTYPE html>
<html>

<head>
  <title>Správa garáží</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <script type=text/javascript src="{{url_for('static', filename='utils.js') }}"></script>
  <script type='text/javascript'>
    window.onload = setRefresh(25000);
  </script>
</head>

<body>
<div class=main_container>
    <div class=menu_box>
        <h2>Menu</h2>
        <ul class=menu_list>
            <li class=menu_item><button type='button' class='menu_button' onclick='location.reload()'>Obnovit</button></li>
            <li class=menu_item>
                <form method="POST" action="/add_garage">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class='menu_button' value="Nová garáž">
                </form>
            </li>
            <li class=menu_item>Registrační mód: {{ reg_mode | reg_mode_filter }}</li>
            <li class=menu_item>
                <div class=tooltip>
                    <form method="POST" action="/reg_mode">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" class=menu_button value="Přepnout reg. mód">
                    </form>
                <span class=tooltiptext>
                <p>
                Registrační mód umožní automatickou registraci nových subsystémů pomocí registračního požadavku. Mód se automaticky vypne po 3 minutách.
                </p>
                </span>
                </div>
            </li>
            <li class=menu_item>Nastavení</li>
            <li class=menu_item><a href='/change_password' class='menu_button'>Změna hesla</a></li>
            <li class=menu_item><a href='/user_settings' class='menu_button'>Uživatel</a></li>
            <li class=menu_item>
                <form method="POST" action="/logout">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class='menu_button' value="Odhlásit">
                </form>
            </li>
        </ul>
    </div>

    <div class=garages_box>
    <h1>Garáže</h1>
    {% from "_utils.html" import render_form, render_flash %}
    {{ render_flash() }}
    <table class=basic_table>
        <tr>
        <th>ID</th>
        <th>Označení</th>
        <th>Dveře</th>
        <th>Poslední hlášení</th>
        <th>Další plánované hlášení</th>
        <th>Stav</th>
        </tr>
        {% for garage in garages %}
            <tr>
                <td><a href="/garage/{{ garage.id }}">[{{ garage.id }}]</a></td>
                <td>{{ garage.tag }}</td>
                <td>{{ garage.doors | garage_doors_filter }}</td>
                <td>{{ garage.last_report | date_filter }}</td>
                <td>{{ garage.next_report | date_filter }}</td>
                <td class='garage_state_{{ garage.state }}'>{{ garage.state | garage_state_filter }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</div>


</body>

</html>