<!DOCTYPE html>
<html>

<head>
  <title>Správa garáží</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>

<body>

<div class=show_garage_container>
    <div class=menu_box>
        <h2>Menu</h2>
        <ul class=menu_list>
        <li class=menu_item><button class='menu_button' onclick='location.reload()'>Obnovit</button></li>
        <li class=menu_item>
            <div class=tooltip>
            <form method="POST" action="/revoke_key/{{ garage.id }}" onsubmit="return confirm('Opravdu chcete zneplatnit API klíč?');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" class=menu_button value="Zneplatnit API klíč">
            </form>
            <span class=tooltiptext>
            <p>
            Po zneplatnění klíče nebude moci příslušný podřízený systém odesílat nové události.
            </p>
            <p>
            Pro obnovení přistupu je nutné nahrát na systém nový klíč, případně vytvořit novou garaž pomocí registračního módu.
            </p>
            </span>
            </div>
        </li>
        <li class=menu_item>
            <div class=tooltip>
            <form method="POST" action="/delete_garage/{{ garage.id }}" onsubmit="return confirm('Opravdu chcete smazat tuto garáž?');">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class=menu_button value="Smazat garáž">
                </form>
            <span class=tooltiptext>
            <p>
            Odstraněním garáže přijdete o zaznamenané události.
            </p>
            </span>
            </div>
        </li>
        <li class=menu_item><a class=menu_button href='/'>Zpět</a></li>
        </ul>
    </div>

    <div class=garage_box>
        <h1>{{ garage.tag }}</h1>
        {% from "_utils.html" import render_form, render_flash %}
        {{ render_flash() }}

    <div class=garage_box_container>

    <div class=garage_data_box>
        <h3>Údaje o garáži</h3>
        <ul>
        <li>ID: {{ garage.id }}</li>
        <li>Stav: {{ garage.state | garage_state_filter }}</li>
        <li>Dveře: {{ garage.doors | garage_doors_filter }}</li>
        <li>Poslední hlášení: {{ garage.last_report | date_filter}}</li>
        <li>Další plánované hlášení: {{ garage.next_report | date_filter }}</li>
        <li>API Klíč: {{garage.api_key }}</li>
        </ul>
    </div>

    <div class=garage_edit_box>
        <h3>Nastavení garáže</h3>
        <form class=basic_form method="POST" action="/garage/{{ garage.id }}">
            {{ render_form(form)}}
        </form>
        <br>
    </div>

    </div>

    <div class=filter_buttons>
        <a href='/garage/{{ garage.id }}' class=form_button>Vše</a>
        <a href='/garage/{{ garage.id }}?event_type=0' class=form_button>Kontrolní hlášení</a>
        <a href='/garage/{{ garage.id }}?event_type=1' class=form_button>Otevření dveří</a>
        <a href='/garage/{{ garage.id }}?event_type=2' class=form_button>Zavření dveří</a>
        <a href='/garage/{{ garage.id }}?event_type=3' class=form_button>Pohyb</a>
        <a href='/garage/{{ garage.id }}?event_type=4' class=form_button>Kouř</a>
        <a href='/garage/{{ garage.id }}?event_type=5' class=form_button>Chyba zařízení</a>
    </div>


    <table class=basic_table>
        <tr>
        <th>Seznam událostí</th>
        </tr>
        {% for event in events %}
            <tr>
                <td class=event_type_{{event.type}}>{{ event | event_filter }}</td>
            </tr>
        {% else %}
        <tr>
            <td>Žádné zaznamenané události</td>
        </tr>
        {% endfor %}
    </table>

    <div class=pages>
        {% for p in range(0, pages) %}
            {% if event_type != None %}
            <a href='/garage/{{ garage.id }}?page={{ p }}&event_type={{ event_type }}'>
            {% else %}
            <a href='/garage/{{ garage.id }}?page={{ p }}'>
            {% endif %}
            {% if p == page %}
            &gt;{{ p }}&lt;
            {% else %}
            [{{ p }}]
            {% endif %}</a>
        {% endfor %}
    </div>

    </div>


</div>

</body>

</html>