<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Simulátor podřízeného systému</title>

  <style>
    .run-animation-error {
      animation-name: 'error-anim';
      animation-duration: 1s;
      width: 400px;
    }

    .run-animation-ok {
      animation-name: 'ok-anim';
      animation-duration: 1s;
      width: 400px;
    }

    @keyframes error-anim {
    from {background-color: red;}
    to {background-color: white;}}

    @keyframes ok-anim {
    from {background-color: green;}
    to {background-color: white;}}
  </style>

  <script type=text/javascript src="{{
  url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

  <script type="text/javascript">
  function on_add_success(data, status, xhr){
    var systemForm = document.getElementById('system-form')
    systemForm['api-key'].value = data['api_key']

    on_success(data, status, xhr)
  }

  function play_anim(class_name){
    var ret_div = document.getElementById('ret')
    ret_div.classList = ""
    ret_div.classList.add(class_name)
    //https://css-tricks.com/restart-css-animation/
    var newone = ret_div.cloneNode(true);
    ret_div.parentNode.replaceChild(newone, ret_div);
  }

  function on_success(data, status, xhr) {
    document.getElementById('return-code').innerHTML = xhr.status
    document.getElementById('return-value').innerHTML = JSON.stringify(data)
    play_anim('run-animation-ok')
  }

  function on_error(xhr, status, error) {
    document.getElementById('return-code').innerHTML = xhr.status
    document.getElementById('return-value').innerHTML = 'Došlo k chybě'
    play_anim('run-animation-error')
  }

  function add_garage() {
    var systemForm = document.getElementById('system-form')
    var url = '/api/garages'
    $.ajax({
      url : url,
      type : 'post',
      dataType : 'json',
      success : on_add_success,
      error : on_error
    })
  }

  function send_event() {
  	var systemForm = document.getElementById('system-form')
  	var apiKey = systemForm['api-key'].value

  	var eventType = document.getElementById('event-form')['event-type'].value
  	var url = '/api/' + eventType
  	
  	$.ajax({
  		url : url,
  		type : 'post',
  		headers : {'apikey' : apiKey},
  		dataType : 'json',
  		success: on_success,
  		error: on_error
  	})
  }
  </script>
</head>

<body>
	<h1>Simulátor podřízeného systému</h1>

	<h2>Odpověď nadřazeného systému</h2>

  <div id='ret'>
	Návratový kód: <span id=return-code></span><br>
	Návratová hodnota: <span id=return-value></span>
  </div>

	<h2>Podřízený systém</h2>
	<form id=system-form>
		API klíč:<br> <input type="text" name="api-key" size='35' value=><br>
	</form>

	<h2>Zaslání události</h2>

	<form id=event-form>
		Typ události: <br>
		<input type="radio" name="event-type" value="report_event" checked> Kontrolní hlášení<br>
 	 	<input type="radio" name="event-type" value="smoke_event"> Kouř<br>
  	<input type="radio" name="event-type" value="movement_event"> Pohyb<br>
  	<input type="radio" name="event-type" value="door_open_event"> Otevření dveří<br>
  	<input type="radio" name="event-type" value="door_close_event"> Zavření dveří<br>
  	<input type='button' value='Odeslat' onclick="send_event()">
	</form>

  <h2>Přidání garáže</h2>
  <input type="button" value='Přidat garáž' onclick="add_garage()"> (Nutný zapnutný registrační mód)<br>
</body>

</html>