<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Simulátor podřízeného systému</title>

  <script type=text/javascript src="{{
  url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

  <script type="text/javascript">
  function on_success(data, status, xhr) {
    document.getElementById('return-code').innerHTML = xhr.status
    document.getElementById('return-value').innerHTML = data
  }

  function on_error(xhr, status, error) {
    document.getElementById('return-code').innerHTML = xhr.status
    document.getElementById('return-value').innerHTML = 'Došlo k chybě'
  }

  function add_garage() {
    var systemForm = document.getElementById('system-form')
    var url = systemForm['server-address'].value + '/api/garages'
    $.ajax({
      url : url,
      type : 'post',
      dataType : 'text',
      success : on_success,
      error : on_error
    })
  }

  function send_event() {
  	var systemForm = document.getElementById('system-form')
  	var apiKey = systemForm['api-key'].value

  	var eventType = document.getElementById('event-form')['event-type'].value
  	var url = systemForm['server-address'].value + '/api/' + eventType
  	
  	$.ajax({
  		url : url,
  		type : 'post',
  		headers : {'apikey' : apiKey},
  		dataType : 'text',
  		success: on_success,
  		error: on_error
  	})
  }
  </script>
</head>

<body>
	<h1>Simulátor podřízeného systému</h1>

	<h2>Odpověď nadřazeného systému</h2>

	Návratový kód: <span id=return-code></span><br>
	Návratová hodnota: <span id=return-value></span>

	<h2>Podřízený systém</h2>
	<form id=system-form>
		Adresa nadřazeného systému:<br> <input type='text' name='server-address' value='https://demo-garaze.tk'><br>
		API klíč:<br> <input type="text" name="api-key" value=><br>
	</form>

	<h2>Zaslání události</h2>

	<form id=event-form>
		Typ události: <br>
		<input type="radio" name="event-type" value="report_event" checked> Kontrolní hlášení<br>
 	 	<input type="radio" name="event-type" value="smoke_event"> Kouř<br>
  	<input type="radio" name="event-type" value="movement_event"> Pohyb<br>
  	<input type="radio" name="event-type" value="door_open_event"> Otevření dveří<br>
  	<input type="radio" name="event-type" value="door_close_event"> Zavření dveří<br>
  	<input type='button' value='Odeslat' onclick="send_event()">
	</form>

  <h2>Přidání garáže</h2>
  <input type="button" value='Přidat garáž' onclick="add_garage()"> (Nutný zapnutný registrační mód)<br>
</body>

</html>